{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<h1>About Us </h1>
<p>The Quickpay System is a modern digital platform designed to simplify and automate payroll management for businesses of all sizes. Our mission is to help organizations manage employee salaries, benefits, deductions, and tax calculations efficiently and accurately.
With Quickpay, payroll managers and administrators can automate salary processing, generate payslips, and maintain tax compliance effortlessly. Employees can easily access their payroll information, track leave balances, and plan their time off with clarity. At Quickpay, we value accuracy, transparency, and operational efficiency, empowering businesses to focus on growth while ensuring compliance and employee satisfaction.
</p>
{% endblock %}