{% extends "base.html" %}
{% load static %}
{% block title %}{{ user.role|title|cut:"_" }} | Edit Profile | QuickPay{% endblock %}
{% block content %}
<div class="container mt-5" style="max-width: 700px;">
    <h3 class="mb-4 text-center">Edit Profile {{ user.role|title|cut:"_" }}</h3>

    <form method="POST" class="bg-white p-4 rounded shadow-sm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success w-100 mt-3">Save Changes</button>
    </form>
</div>
{% endblock %}
