{% extends 'base.html' %}
{% load static %}
{% block title %} HR Manager | View Allowances and Deductions | QuickPay {% endblock %}
{% block content %}

<h2>View Allowances and Deductions</h2>

{% if cp %}
    <pre>Dearness Allowance: {{ cp.da }}%</pre>
    <pre>House Rent Allowance: {{ cp.hra }}%</pre>
    <pre>Provident Fund: {{ cp.pf }}%</pre>
    <pre>Employees' State Insurance: {{ cp.esi }}%</pre>
    <pre>Effective Date: {{ cp.effective_from }}</pre>
    <pre>Created on: {{ cp.created_on }}</pre>
    <pre>Updated on: {{ cp.updated_on }}</pre>
    <pre><strong>Status:</strong> {{ cp.status }}</pre>

    {% if cp.status == "Pending" %}
        <a href="{% url 'approve_pay' cp.id %}" class="btn btn-success px-4 py-2 rounded-3">
            Approve
        </a>
        <a href="{% url 'change_pay' cp.id %}" class="btn btn-warning px-4 py-2 rounded-3">
            Send Request
        </a>
    {% endif %}
{% endif %}

{% endblock %}
