<!-- templates/admin/add_user.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4 text-center">Add New User</h2>
  <form method="POST" class="mx-auto" style="max-width: 600px;">
    {% csrf_token %}

    {% for field in form %}
<div class="mb-3">
    {{ field.label_tag }}
    {{ field }}
    {% if field.errors %}
        <div class="text-danger small">{{ field.errors.0 }}</div>
    {% endif %}
</div>
{% endfor %}


    <button type="submit" class="btn btn-success w-100 mt-3">Add User</button>
  </form>
</div>
{% endblock %}



