{% extends 'base.html' %}
{% load static %}
{% block title %}Employee | Leaves Applied | QuickPay {% endblock %}
{% block content %}
{% if leave %}
        <table>
            <thead>
            <tr>
                <th>Applied on</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
    {% for l in leave %}
            <tr>
                <td>{{l.applied_on}}</td>
                <td>{{l.type}}</td>
                <td>{{l.start_date}}</td>
                <td>{{l.end_date}}</td>
                <td>{{l.status}}</td>
            </tr>
            </tbody>
        </table>
{% endfor %}
{% endif %}
{% endblock %}