{% extends 'base.html' %}
{% load static %}

{% block title %}Payroll Manager | View Employees | QuickPay{% endblock %}

{% block content %}
<div class="page-container my-5">
    <h2 class="text-center mb-4 fw-bold text-secondary">Employee List</h2>

    {% if employees %}
    <div class="container-fluid">
        <div class="row g-4">
            {% for i in employees %}
            <div class="col-12 col-md-6 col-lg-4 d-flex">
                <div class="card shadow-sm border-0 text-center flex-fill p-3">
                    <div class="card-body">
                        <h5 class="card-title text-emerald fw-semibold mb-3">
                            {{ i.user.first_name|title }} {{ i.user.last_name|title }}
                        </h5>

                        <p class="mb-2"><strong>Mail ID:</strong> {{ i.user.office_mail }}</p>
                        <p class="mb-2"><strong>Department:</strong> {{ i.department|title }}</p>

                        <div class="d-grid mt-3">
                            <a href="{% url 'run_payroll' i.id %}" class="btn-feature">
                                View Payslip </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p class="text-center text-muted mt-4">No employees found.</p>
    {% endif %}
</div>
{% endblock %}

