{% extends 'base.html' %}
{% load static %}
{% block title %}Payroll Manager | Allowances and Deductions | QuickPay {% endblock %}
{% block content %}
<h3>View Common Allowances and Taxes </h3>
{% if cp %}
<pre> Dearness Allowance: {{cp.da}}</pre>
<pre> House Rent Allowance: {{cp.hra}} </pre>
<pre> Provident Fund: {{cp.pf}}</pre>
<pre> Employees' State Insurance: {{cp.esi}}</pre>
<pre> Created on: {{cp.created_on}}</pre>
<pre> Effective by: {{cp.effective_from}} </pre>
<pre>Status: {{cp.status}}</pre>
{% endif %}
{% endblock %}