{% extends 'base.html' %}
{% load static %}
{% block title %}HR Manager| View Payslip| QuickPay{% endblock %}
{% block content %}
{% if pay %}
<table>
    <thead>
    <tr>
        <th>Total Earnings</th>
        <th>Total Deductions</th>
        <th>Net Pay</th>
        <th>Generated Date</th>
    </tr>
    </thead>
    <tbody>
    {% for i in pay %}
    <tr>
        <td>{{ i.total_earnings }}</td>
        <td>{{ i.total_deductions }}</td>
        <td>{{ i.net_pay }}</td>
        <td>{{ i.generated_date }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
<a href="{% url 'generate_payslip_pdf'pay.id %}">Click here to download the payslip for {{i.employee.user.username}} till the date{{i.generated_date}}</a>
{% endif %}
{% endblock%}